* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --category-lightblue: lightblue;
  --category-lightgreen: lightgreen;
  --category-lightpink: lightpink;
  --category-black: black;
}
body {
  width: 100vw;
  height: 120vh;
}

/* header  */
header {
  width: 100%;
  height: 100px;
  background-color: grey;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.groupCategory {
  margin-left: 100px;
  padding: 15px;
  width: fit-content;
  height: fit-content;
  background-color: rgb(80, 77, 77);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.category {
  width: 70px;
  height: 30px;
}
.category:hover {
  border: 4px solid red;
}

.c1 {
  background-color: var(--category-lightpink);
}
.c2 {
  background-color: var(--category-lightblue);
}
.c3 {
  background-color: var(--category-lightgreen);
}
.c4 {
  background-color: var(--category-black);
}

.tools {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}
.tool-item {
  background-color: rgb(79, 79, 79);
  font-size: 40px;
  font-weight: 400;
  padding: 7px 18px;
  cursor: pointer;
}
.add {
  color: white;
}
.cross {
  color: red;
}
.tool-item:hover {
  background-color: green;
}

/*...................... Cards Area  ................*/
main {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  margin-top: 100px;
}
.card {
  display: inline-block;
  width: 250px;
  margin: 5px;
}
.card-category {
  width: 100%;
  height: 10px;
  background-color: var(--category-lightpink);
}
.card-id {
  width: 100%;
  height: 30px;
  background-color: yellow;
}
.card-detailes {
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}

/*........................ Modal  ...................*/

.modal {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  border: 10px solid rgb(0, 42, 255);
  background-color: rgb(232, 232, 232);
}
.hide {
  display: none;
}
.modal-left {
  flex-grow: 1;
}

.modal-right {
  flex-basis: 100px;
}

.modal-left textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
}
.modal-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.modal-right .category {
  width: 100%;
  height: 50px;
}
